/* колір тексту основний білий                    - #FFFFFF */
/* колір заголовків h2/h3                         - #212121 */
/* колір чорного в логотипі                       - #000000 */
/* колір вторинного (а абзацах) тексту            - #757575 */
/* колір фону кнопки, у лого та блакитного тексту - #2196F3 */
/* колір фону активної кнопки                     - #188CE8 */
/* колір фона основний білий                      - #F5F5F5 */
/* колір фона вторинний сірий                     - #F5F4FA */
/* колір фона HERO                                - #2F303A */
/* колір фона (background) вторичный              - #f5f5f5 */
/* колір фона (background) на картках             - #ffffff */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-hero-color: #FFFFFF;
    --title-hero-background-color: #2F303A;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #2196F3;
    --button-active-background: #188CE8;
    --primary-background-color: #F5F5F5;
    --secondary-backgroung-color: #F5F4FA;
    --background-card-color: #FFFFFF;
    --social-icon-color: #AFB1B8;
    }

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h2, h3, p, ul {
  margin-top: 0;
  margin-bottom: 0px;
  padding-inline-start: 0px;
}

.section {
  padding: 94px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* СТИЛЬ ДЛЯ ЗАГОЛОВКІВ H2 */
.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* LOGO */
.logo {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__part {
  color: var(--third-text-color);
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__wrap {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.page-header__logo {
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.page-header__logo--color {
  color: #000000;
}

/* NAVIGATIONS */
.page-header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link--current {
  color: var(--third-text-color);
}

.page-header__link--current::after {
  position: absolute; 
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--button-active-background);
}

.page-header__reference:not(:last-child) {
  margin-right: 50px;
}

/* CONTACTS */
.page-header__contacts {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  list-style: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.page-header__contacts .page-header__reference + .page-header__reference {
  margin-left: 50px;
}

.page-header__contacts .page-header__link {
  display: flex;
  padding: 0;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover,
.page-header__link:focus {
  color: var(--third-text-color);
}

.page-header__icon {
  fill: currentColor;
  padding: 0;
  margin-right: 10px;
}

.page-header__icon:hover,
.page-header__icon:focus {
  fill: currentColor;
}

/* HERO */
.hero {
  text-align: center;
  background-color: var(--title-hero-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay { 
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
  ), 
  url(../images/body.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  color: var(--title-hero-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 40px;
}

.hero__button {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  background-color: var(--third-text-color);
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-active-background);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-card-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  z-index: 2;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  color: var(--title-text-color);
}

.modal-form__place {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__place:focus-within {
  color: var(--third-text-color);
}

.modal-form__label {
  padding-bottom: 4px;
}

.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--third-text-color);
}

.modal-form__input-wrap:focus-within {
  color: var(--third-text-color)
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.modal-form__textarea {
  resize: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  border-color: #2196F3;
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__terms {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__terms-input {
  position: absolute;
  appearance: none;
}

.modal-form__terms-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin: 0 7px 0 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms-check {
  opacity: 0;
  position: absolute;
  margin-left: 12px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms-input:checked ~ .modal-form__terms-check {
  opacity: 1;
}

.modal-form__button {
  width: 200px;
  height: 50px;
  background-color: var(--third-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-hero-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button:hover, .modal-form__button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__terms-link {
  color: var(--third-text-color);
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 0;
  width: 30px;
  height: 30px;
  background-color: var(--background-card-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer; 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, 
.modal__close-button:focus {
  fill: var(--third-text-color);
}

.modal__close-icon {
  width: 11px; 
  height: 11px;
}

/* ОСОБЛИВОСТІ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
    list-style: none;
    display: flex;
    line-height: 1.71;
}

.features-list__feature {
  width: 270px;
  margin-right: 30px;
}

.features-list__icon {
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-backgroung-color);
  border-radius: 4px;
  align-items: center;
}

.features-list__feature:nth-child(4) {
  margin-right: 0;
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

/* ЧИМ МИ ЗАЙМАЄМОСЯ */
.catalogue {
  padding-top: 0;
}

.catalogue__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.catalogue__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.catalogue__item {
  position: relative;
}

.catalogue__label {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.catalogue__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
}

  /* НАША КОМАНДА */
.team {
  background-color: var(--secondary-backgroung-color);
}

.team__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.team__card {
  background-color: var(--background-card-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  padding: 30px 32px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team__position {
  margin-bottom: 16px;
}

.networks {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.networks__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__button--color {
  color: var(--social-icon-color);
}

.networks__icon {
  fill: currentColor;
}

.networks__button:hover,
.networks__button:focus {
  background-color: var(--third-text-color);
  color: var(--title-hero-color);
}
  
  /* ПОСТІЙНІ КЛІЄНТИ */
.clients {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.clients__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  color: var(--social-icon-color);
  background-color: var(--background-card-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.clients__name:hover,
.clients__name:focus {
  border: 1px solid var(--third-text-color);
  color: var(--third-text-color);
}

  /* FOOTER */
.page-footer {
  background-color: var(--title-hero-background-color);
}

.page-footer__wrap {
  display: flex;
}

.page-footer__links {
  padding: 60px 0;
}

.page-footer__logo--color {
  color: var(--title-hero-color);
  margin-bottom: 20px;
}

.adress-list {
  list-style: none;
  font-style: normal;
  line-height: 1.71;
}

.adress-list__item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.adress-list__map {
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list__map:hover,
.adress-list__map:focus {
  color: var(--third-text-color);
}

.adress-list__link:hover,
.adress-list__link:focus {
  color: var(--third-text-color);
}

.join {
  display: inline-block;
  width: 206px;
  padding-top: 72px;
  margin-left: 93px;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.join__button--color {
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.subscription {
  display: inline-block;
  width: 570px;
  padding-top: 72px;
  margin-left: 93px;
}
  
.subscription__wrap {
  display: flex;
}

  .subscription__input {
    width: 358px;
    font-size: 16px;
    line-height: 1.25;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--title-hero-color);
    background-color: var(--title-hero-background-color);
    padding: 15px 16px;
    margin-right: 12px;
  }

  .subscription__input:focus {
    border: 1px solid var(--title-hero-color);
  }

  .subscription__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--background-card-color);
    background-color: var(--third-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 28px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscription__button:hover, 
  .subscription__button:focus {
    background-color: var(--button-active-background);
  }

  .subscription__icon {
    fill: currentColor;
  }

  /* FILTER BUTTONS */
  .portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    list-style: none;
  }

  .portfolio-filter__item:not(:last-child) {
    margin-right: 8px;
  }

  .portfolio-filter__button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--title-text-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-filter__button:hover,
  .portfolio-filter__button:focus {
    color: var(--title-hero-color);
    background-color: var(--third-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /* PORTFOLIO */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.portfolio__card {
  width: 370px;
  font-size: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--background-card-color);
}

  .portfolio__card:nth-child(3n) {
    margin-right: 0;
  }

  .portfolio__card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .portfolio__link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.875;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio__link:hover,
  .portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .portfolio__link:hover .portfolio__wrap,
  .portfolio__link:focus .portfolio__wrap {
    transform: translateY(0);
  }

  .portfolio__card .portfolio__picture {
    position: relative;
    overflow: hidden;
  }

  .portfolio__wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio__description {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--title-hero-color);
  }

  .portfolio__name {
    padding: 20px 24px;
    border-width: 0px 1px 1px 1px;
    border-color: #EEEEEE;
    border-style: solid;
  }

  .portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
  }

  /* ...playing "The Doors - This Is The End" */